<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
  <div class="main">
    <div class="top">
      <header>
        <h2>SEMINAR HALL BOOKING</h2>
      </header>
    </div>
    <div class="sidebar">
      <a href="home.html">Home</a>
      <a href="hallavailability.html">Hall Availability</a>
      <a href="hallbooking.html">Hall Booking</a>
      <a href="hallcancellation.html">Hall Cancellation</a>
      <a href="hallbookingdetails.html">Hall Booking Details</a>
      <a href="paymentdetails.html">Payment Details</a>
      <a class="active" href="customerdetails.html">Customer Details</a>
    </div>
    
    <div class="content">
      <h2>Customer Details</h2>
      <table>
        <tr class="trheading">
          <th>Name of the event</th>
          <th>Date</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Contact no</th>
          <th>Address</th>
          <th>Email id</th>
         </tr>
        <tr>
          <td>Discrete Optimization Talks</td>
          <td>24/04/2021</td>
          <td>Suresh</td>
          <td>Kumar</td>
          <td>9876543210</td>
          <td>No 27,Gandhi street,Anna nagar,Chennai</td>
          <td>Suresh@gmail.com</td>
        </tr>
        <tr>
          <td>Analytics for a better world</td>
          <td>28/04/2021</td>
          <td>Sai</td>
          <td>Sangeetha</td>
          <td>9123456780</td>
          <td>No 10,Pillai street,JJ Nagar,Chennai</td>
          <td>Sai@gmail.com</td>
         </tr>
         <tr>
          <td>Foundation of Data Science</td>
          <td>03/05/2021</td>
          <td>Divya</td>
          <td>Priya</td>
          <td>9123456788</td>
          <td>No 7,Tank street,Purasaivakkam,Chennai</td>
          <td>Divya@gmail.com</td>
         </tr>
         <tr>
          <td>Virtual Market Design</td>
          <td>11/05/2021</td>
          <td>Anand</td>
          <td>Kumar</td>
          <td>9987654321</td>
          <td>No 11,Newman street,Avadi</td>
          <td>Anand54@gmail.com</td>
         </tr>
         <tr>
          <td>Virtual Economics</td>
          <td>20/05/2021</td>
          <td>Nikhil</td>
          <td>Raj</td>
          <td>9874561230</td>
          <td>No 19,Naidu street,Maillapur,Chennai</td>
          <td>Nikhil123@gmail.com</td>
         </tr>
      </table>
      
  </div>
</body>

</html>