<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/style.css">

</head>

<body>
  <div class="main">
    <div class="top">
      <header>
        <h2>SEMINAR HALL BOOKING</h2>
      </header>
    </div>
    <div class="sidebar">
      <a href="home.html">Home</a>
      <a href="hallavailability.html">Hall Availability</a>
      <a href="hallbooking.html">Hall Booking</a>
      <a class="active" href="hallcancellation.html">Hall Cancellation</a>
      <a href="hallbookingdetails.html">Hall Booking Details</a>
      <a href="paymentdetails.html">Payment Details</a>
      <a href="customerdetails.html">Customer Details</a>
    </div>

    <div class="content">
      <h2>Hall Cancellation</h2>
      <div class="container">
        <form action="/action_page.php">
          <div class="middle">

            <div class="row">
              <div class="col-25">
                <label for="Enter the date">Enter the date:</label>
              </div>
              <div class="col-75">
                <input type="date" id="Enter the date" name="Enter the date">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="fname">First Name</label>
              </div>
              <div class="col-75">
                <input type="text" maxlength="20" minlength="2" id="fname" name="firstname" pattern="[A-Za-z]{1,32}" value=""
                  required placeholder="Your name..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Last Name</label>
              </div>
              <div class="col-75">
                <input type="text" maxlength="20" minlength="2" id="lname" name="lastname" pattern="[A-Za-z]{1,32}" value=""
                  required placeholder="Your last name..">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="ename">Event Name</label>
              </div>
              <div class="col-75">
                <input type="text" id="ename" name="ename" required placeholder="Your event name..">
              </div>
            </div>
            <div class="row">
              <input type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>

</body>

</html>